In [411]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [412]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
240,tt0361748,70000000,319131050,Inglourious Basterds,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,Quentin Tarantino,Once upon a time in Nazi occupied France...,"In Nazi-occupied France during World War II, a...",153,Drama|Action|Thriller|War,Universal Pictures|A Band Apart|Zehnte Babelsb...,8/18/2009,7.7,2009
966,tt0298744,7000000,2062066,Auto Focus,Greg Kinnear|Willem Dafoe|Rita Wilson|Maria Be...,Paul Schrader,A day without sex is a day wasted.,"A successful TV star during the 1960s, former ...",104,Drama|Crime,Sony Pictures Classics|Propaganda Films|Good M...,10/18/2002,5.9,2002
273,tt1121931,20000000,34560577,Crank: High Voltage,Jason Statham|Amy Smart|Dwight Yoakam|Efren Ra...,Mark Neveldine|Brian Taylor,"Stay Charged, Stay Alive!",Chelios faces a Chinese mobster who has stolen...,96,Action|Thriller|Crime,Lakeshore Entertainment|Lionsgate|Radical Media,4/16/2009,5.9,2009
759,tt1306980,8000000,39187783,50/50,Joseph Gordon-Levitt|Seth Rogen|Anna Kendrick|...,Jonathan Levine,It takes a pair to beat the odds.,"Inspired by a true story, a comedy centered on...",100,Comedy|Drama,Summit Entertainment|Mandate Pictures,9/30/2011,6.8,2011
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010

In [413]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [414]:
answers = {}

#For question №6 and further
#We need to create new column 'profit'
data['profit'] = data.revenue - data.budget

#Every time I was about to create costom funcion to solve the question
#I searched and found already existing function and a way to apply it

# 1. У какого фильма из списка самый большой бюджет?

In [415]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [416]:
#1st variant
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [417]:
#2nd variant
data[data.index == data.budget.argmax()]
#.argmax() returns the index of the row of the maximum element, thus we compare to index

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [418]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [419]:
#1st variant
data[data.runtime == data.runtime.max()]
#similar to the question №1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [420]:
#2nd variant
data[data.index == data.runtime.argmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [421]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

In [422]:
#1st variant
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [423]:
#2nd variant
data[data.index == data.runtime.argmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [424]:
answers['4'] = 110 #+

In [425]:
round(data.runtime.mean())
#It returns float with long tail, just for the sake of test question I round it up

110

# 5. Каково медианное значение длительности фильмов?

In [426]:
answers['5'] = 107 #+

In [427]:
data.runtime.median()
#Functions to find mean and median already exist, so it's nice and simple

107.0

# 6. Какой самый прибыльный фильм?

In [428]:
answers['6'] = 'Avatar (tt0499549)' #+

In [429]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [430]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

In [431]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [432]:
answers['8'] = 1478 #+

In [433]:
#How many films have revenue higher than budget simply means
#how many films have profit above 0
data.query('profit > 0')
#We can just look at the number of rows
len(data.query('profit > 0'))
#Or we can use len()
data.query('profit > 0').count()
#Or count(), there's many ways to put it

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [434]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

In [435]:
#1st variant
data[data.profit == data[data.release_year == 2008].profit.max()]
#You can do part of it like this -> data.query('release_year == 2008').profit.max()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [436]:
#2nd variant
df_2008 = data[data.release_year == 2008]
#We create new data frame with only 2008 movies
df_2008.loc[df_2008['profit'].idxmax()]
#And find in there the movie with max value in profit column

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [437]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

In [438]:
#1st variant
data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()]
#You can do part of it like this -> data[(2012 <= data.release_year) & (data.release_year <= 2014)].profit.min()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [439]:
#2nd variant
df_2012_2014 = data.query('2012 <= release_year <= 2014')
#We create new data frame with 2012 - 2014 movies
df_2012_2014.loc[df_2012_2014.profit.idxmin()]
#And find in there the movie with min value in profit column

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [440]:
answers['11'] = 'Drama' #+

In [441]:
#1st variant
genres_df = data.copy() #Creating a copy to not change anything in the original data frame
genres_df.genres = genres_df.genres.apply(lambda x: x.split('|')) #Creating lists in genres column
genres_df = genres_df.explode('genres') #Making every list item on separate row
                                        #so we can apply .mode() correctly

genres_df.genres.mode() #.mode() will give us the most popular item
genres_df.genres.value_counts().index[0] #We also can simply look at the top position of .value_counts()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [442]:
answers['12'] = 'Drama' #+

In [443]:
genres_df.query('profit > 0').genres.value_counts().index[0]
#We get rid of all non profit films in 'genres_df'
#and then we count values, same as in previous question
#Can use .mode() as alternative

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [444]:
answers['13'] = 'Peter Jackson' #+

In [445]:
directors_df = data.copy() #Same method as in question №11
directors_df.director = directors_df.director.apply(lambda x: x.split('|'))
directors_df = directors_df.explode('director')

directors_df.groupby('director').sum().profit.sort_values(ascending = False).index[0]
#Here we have got a table with sum of columns with numeric values grouped by 'director'
#so there is no director duplicats
#Then we sort 'profit' in descending order

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [446]:
answers['14'] = 'Robert Rodriguez' #+

In [447]:
directors_and_genres_df = directors_df.copy()
directors_and_genres_df.genres = directors_and_genres_df.genres.apply(lambda x: x.split('|'))
directors_and_genres_df = directors_and_genres_df.explode('genres')
#I created new data frame where I exploded both, 'genres' and 'director' columns

directors_and_genres_df.loc[directors_and_genres_df.genres == 'Action'].director.mode()
#Get only columns with 'Action' genre then among theirs 'director' column get the most occurring
#or we can just use .value_counts() and look at the top of the table

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [448]:
answers['15'] = 'Chris Hemsworth' #+

In [449]:
actors2012_df = data.loc[data.release_year == 2012].copy()            #We create copy of main data frame,
actors2012_df.cast = actors2012_df.cast.apply(lambda x: x.split('|')) #but only with 2012 release year
actors2012_df = actors2012_df.explode('cast')        #Then we explode the cast column on individual rows

actors2012_df.groupby('cast').sum().profit.sort_values(ascending = False).index[0]
#Same as question №13

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [450]:
answers['16'] = 'Matt Damon' #+

In [451]:
hight_budget_df = data.loc[data.budget > data.budget.mean()].copy()       #Take only hight budget fillms
hight_budget_df.cast = hight_budget_df.cast.apply(lambda x: x.split('|')) #'cast' column now contains lists
hight_budget_df = hight_budget_df.explode('cast')                         #with actors as items
#Spreading cast members on rows

hight_budget_df.cast.value_counts().index[0] #Here we simply count actor's names occurrence

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [452]:
answers['17'] = 'Action' #+

In [453]:
actors_and_genres_df = data.copy()                                                  #Exact same as question №15,
actors_and_genres_df.cast = actors_and_genres_df.cast.apply(lambda x: x.split('|')) #but without year filter
actors_and_genres_df = actors_and_genres_df.explode('cast') #Spreading cast members on rows

actors_and_genres_df.genres = actors_and_genres_df.genres.apply(lambda x: x.split('|')) #Separating genres
actors_and_genres_df = actors_and_genres_df.explode('genres') #Spreading genres on rows

actors_and_genres_df[actors_and_genres_df.cast == 'Nicolas Cage'].genres.value_counts().index[0]
#Picking rows with Nicolas Cage and then counting genres

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [454]:
answers['18'] = 'K-19: The Widowmaker' #+

In [455]:
studios_df = data.copy() #We create new copy
studios_df.production_companies = studios_df.production_companies.apply(lambda x: x.split('|'))
studios_df = studios_df.explode('production_companies') #And doing so every studio is placed on individual row

paramount_studios_df = studios_df[studios_df.production_companies == 'Paramount Pictures'].copy()
#Picking only 'Paramount Pictures' to avoid duplicats of id and profit, it's not really an issue
#but it will give us a prettier answer :)
paramount_studios_df[paramount_studios_df.index == paramount_studios_df.profit.idxmin()]
#Getting a row with min profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [456]:
answers['19'] = 2015 #+

In [457]:
data.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]
#That's an easy one, we also can use .idxmax() after .sum(),
#because it will return us the year directly as year here is in index column

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [458]:
answers['20'] = 2014 #+

In [459]:
warner_studios_df = studios_df[studios_df.production_companies.str.contains('Warner Bros')]
#We make use of already existing 'studios_df' and create new one with every kind of 'Warner Bros',
#because there is multiple variations of their company name  
warner_studios_df.groupby('release_year').profit.sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [460]:
answers['21'] = 'September' #+

In [461]:
months_df = data.copy() #Creating new data frame
months_df.release_date = months_df.release_date.apply(lambda x: x.split('/'))
#Making lists in 'release_date' column, so we can call it's elements by index

months_df['month'] = months_df.release_date.apply(lambda x: x[0])
#Creating new column 'month' where we have only film release month

months_df.month.value_counts().index[0]
#Simply counting how many times each month occurs

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [462]:
answers['22'] = 450 #+

In [463]:
len(months_df.loc[months_df.month.isin(['6','7','8'])].index)
#Using previously created 'months_df', picking only summer months
#and then calculating number of rows

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [464]:
answers['23'] = 'Peter Jackson' #+

In [465]:
winter_months_df = months_df[months_df.month.isin(['1','2','12'])].copy()
#Utilizing created previously 'months_df', creating new with only winter months

winter_months_df.director = winter_months_df.director.apply(lambda x: x.split('|'))
winter_months_df = winter_months_df.explode('director')
#Separating directors

winter_months_df.director.value_counts().index[0]
#Counting how many times each director occurs in winter_months_df

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [466]:
answers['24'] = 'Four By Two Productions' #+

In [467]:
studios_df['title_len'] = studios_df.original_title.apply(lambda x: len(x))
#Create new column in 'studios_df' with title length

studios_df.groupby('production_companies').title_len.mean().sort_values(ascending = False).index[0]
#Grouped by companie names, average title length is sorted in descending order

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [468]:
answers['25'] = 'Midnight Picture Show' #+

In [469]:
studios_df['overview_len'] = studios_df.overview.apply(lambda x: len(x.split()))
#New column in 'studios_df' with overview word count

studios_df.groupby('production_companies').overview_len.mean().sort_values(ascending = False).index[0]
#Same as question №24

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [470]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [471]:
data[data.vote_average > data.vote_average.quantile(.99)]
#Here we take average vote bigger than 99% of average votes
#And then just compare titles with answer options

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [472]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' #+

In [473]:
#1st variant
from itertools import combinations #combinations(x, y) helps you create... well... combinations
                                   #It returns you a list of combinations of y objects
                                   #from a set with x objects

actors_df = data.copy() #Making a copy
actors_df.cast = actors_df.cast.apply(lambda x: x.split('|')) #Separating 'cast' column items into lists
actors_df['duo'] = actors_df.cast.apply(lambda x: list(combinations(x,2)))
#Creating new column 'duo' with lists of combinations of actors

actors_df = actors_df.explode('duo')
#Breaking up every list inside 'duo' column
#so we have only one pair of actors on every row
actors_df.duo.value_counts()
#Counting how many times each pair of actors occurs
#We've got two leaders, but only one of them offered as answer in the test

(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Jeffrey Dean Morgan, Madison Davenport)    1
(Jeff Bridges, Elizabeth Banks)             1
(Keanu Reeves, Forest Whitaker)             1
(Michael Zegen, James Rebhorn)              1
(Brad Pitt, Richard Jenkins)                1
Name: duo, Length: 18121, dtype: int64

In [474]:
#2nd variant
from statistics import mode #Returns the most popular/common element in a list

#We will use 'actors_df' created in 1st variant of this question
actors_pairs = [] #Create empty list
actors_df.duo.apply(lambda x: actors_pairs.append(x)) #Fill that list with tuples of actor pairs
mode(actors_pairs) #Find the most pupular element of the list

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [475]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [476]:
len(answers)

27